extends layout

block navbar
	#navbar-collapse.collapse.navbar-collapse
		ul.nav.navbar-nav.navbar-right
			li: a(href="/en") en
			li: a(href="/es") es
			li: a(href="/fr") fr
			li: a(href="/de") de

block content
	.container#content