

body {
	padding-bottom: 60px;
}

.navbar-brand {
	margin: 0;
	padding: 0;
	line-height: 50px;
}


.team {
	&.red {&, & a {color: @red}}
	&.blue {&, & a {color: @blue}}
	&.green {&, & a {color: @green}}
}

.team-bg {
	&.red {background-color: @red-bg}
	&.blue {background-color: @blue-bg}
	&.green {background-color: @green-bg}
}