#log-container {
    margin: .5em 0;
}

#log-tabs {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    height: 40px;
    border-bottom: 1px solid #ccc;
    a.tab {
        display: inline-block;
        padding: 0 1em;
        margin: 0 .1em;
        cursor: pointer;
        border: 1px solid #eee;
        border-bottom: 0;
        border-top-left-radius: .2em;
        border-top-right-radius: .2em;
        font-size: 9pt;
        background-color: #f9f9f9;
        height: 30px;
        line-height: 30px;
        &.active {
            background-color: #fff;
            border-color: #ccc;
            font-size: 12pt;
            height: 36px;
            line-height: 36px;
            font-weight: bold;
        }
        &:hover {
            border-color: #ccc;
        }
    }
    a.check {
        display: flex;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #eee;
        border-radius: .2em;
        background-color: #f9f9f9;
        margin: 3px 1px;
        height: 24px;
        width: 32px;
        opacity: .5;

        &.first {
            margin-left: 1em;
        }
        &.active {
            background-color: #fff;
            border-color: #ccc;
            font-size: 12pt;
            font-weight: bold;
            opacity: 1;
        }
        &:hover {
            border-color: #ccc;
            opacity: 1;
        }
        .icon-objective {
            width: 18px;
            height: 18px;
        }
    }
}

#log {
    margin: .25em 0;
    height: 25em;
    overflow-y: scroll;
    > li {
        &:nth-child(even) {
            background-color: #f9f9f9;
        }
        padding: .1em 0;
        transition: all 150ms ease-in;
        &:hover {
            font-weight: bold;
            background-color: #ffe;
        }
    }
    .log-objective {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        img {
            width: 18px;
            height: 18px;
        }
        img.arrow {
            width: 8px;
            height: 8px;
            opacity: .2;
        }
        > li {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 8pt;
            line-height: 8pt;
            text-align: left;
            padding: .1em 0;
            &.log-sprite {
                width: 24px;
                text-align: center;
            }
            &.log-time {
                width: 5em;
                text-align: center;
            }
            &.log-expire {
                width: 3em;
                text-align: center;
            }
            &.log-map {
                width: 2.5em;
                text-align: left;
            }
            &.log-name {
                width: 15em;
            }
            &.log-claimed {
                width: 6em;
            }
            &.log-guild {
                .guild-tag {
                    display: none;
                    @media(min-width: @screen-xs-min) {
                        display: inline-block;
                    }
                }
                .guild-name {
                    display: none;
                    @media(min-width: @screen-sm-min) {
                        display: inline-block;
                        max-width: 10em;
                    }
                }
            }
            &.log-geo {
                width: 8px;
                text-align: center;
            }
        }
    }
}
