


#tracker {
	@import "./tracker-objectives.less";
	@import "./tracker-scoreboards.less";
	@import "./tracker-maps.less";
	@import "./tracker-log.less";
	@import "./tracker-guilds.less";


	.section-header {
		margin: 1em .5em .5em 0;
		padding: 0 0 .25em;
		border-bottom: 1px solid #eee;
	}
}

