


#tracker {
    @import "./tracker-objectives.less";
    @import "./tracker-scoreboards.less";
    @import "./tracker-maps.less";
    @import "./tracker-log.less";
    @import "./tracker-options.less";
    @import "./tracker-guilds.less";


    .section-header {
        margin : 1em 0 .5em;
        padding: 0 0 .25em;

        border-bottom: 1px solid #eee;
    }

    #AppLoading {
        text -align: center;
        font-size: 10vmax;
        opacity: .5;
    }
}

