.transition {
	&-fade-in-enter {
		opacity: 0;

		&-active {
			opacity: 1;
			transition: all 400ms ease-in;
		}

	}
	&-fade-out-leave {
		opacity: 1;

		&-active {
			opacity: 0;
			transition: all 400ms ease-in;
		}

	}
}

// &.guild-enter {
// 	overflow: hidden;
// 	white-space: nowrap;
// 	max-height: 0;
// 	.opacity(0);

// 	&-active {
// 		max-height: 256px;
// 		.opacity(1);
// 		.transition(all 400ms ease-in);
// 	}
// }