.transition {
    &-fade-in-enter {
        opacity: 0;

        &-active {
            transition: all 400ms ease-in;
            opacity   : 1;
        }

    }
    &-fade-out-leave {
        opacity: 1;

        &-active {
            transition: all 400ms ease-in;
            opacity   : 0;
        }

    }
}



