
/*
*	Variables
*/


@screen-xxs-min: 360px;
@screen-xxs-max: (@screen-xs-min - 1);


@gray-lightest: lighten(@gray-lighter, 3%);



@red: #a94442;
@red-bg: #F2DEDE;

@blue: #31708f;
@blue-bg: #D9EDF7;

@green: #3c763d;
@green-bg: #DFF0D8;